<p>
  <center><img src="../assets/thakaa_logo.png" width="500" height="300"></center>
</p>

<p>
<br>
  <center><img src="../assets/artwork.png" width="600" height="300"></center>
</p>
<br>
<h1 style='text-align: center;'> Ø³Ù„Ø³Ù„Ø© Ù…Ø¹Ø³ÙƒØ±Ø§Øª Ø°ÙƒØ§Ø¡: Ø§Ù„Ù…Ø¹Ø³ÙƒØ± Ø§Ù„Ø«Ø§Ù†ÙŠ | Ø§Ø³ØªÙƒØ´Ø§Ù ÙˆØªØ­Ù„ÙŠÙ„ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ÙˆØ£Ø³Ø§Ø³ÙŠØ§Øª ØªØ¹Ù„Ù… Ø§Ù„Ø¢Ù„Ø© </h1>
<!-- <font size="+2" style='text-align: center;'> ØªØ¹Ù„Ù‘Ù… ÙƒÙŠÙ ØªÙƒØªØ´Ù Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ÙˆØªØ·ÙˆÙ‘Ø± Ù†Ù…Ø§Ø°Ø¬ ØªØ¹Ù„Ù‘Ù… Ø§Ù„Ø¢Ù„Ø© </h2> -->
<div style="text-align: center; font-family: Arial; font-size: 2em;">ØªØ¹Ù„Ù‘Ù… ÙƒÙŠÙ ØªÙƒØªØ´Ù Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ÙˆØªØ·ÙˆÙ‘Ø± Ù†Ù…Ø§Ø°Ø¬ ØªØ¹Ù„Ù‘Ù… Ø§Ù„Ø¢Ù„Ø©</div>

<h2 style="text-align: left;"> ğŸ“š Ø§Ø³ØªÙŠØ±Ø§Ø¯ Ø§Ù„Ù…ÙƒØªØ¨Ø§Øª</h2>

Ø§Ù„Ø´ÙŠØ¡ Ø§Ù„Ø£ÙˆÙ„ Ø§Ù„Ù„ÙŠ Ø­Ù†Ø³ÙˆÙŠÙ‡ Ù‡Ùˆ Ø¥Ù†Ù†Ø§ Ù†Ø¬ÙŠØ¨ Ø§Ù„Ù…ÙƒØªØ¨Ø§Øª Ø§Ù„Ù„ÙŠ Ø­Ù†Ø­ØªØ§Ø¬Ù‡Ø§ ÙÙŠ Ù‡Ø°Ø§ Ø§Ù„Ù†ÙˆØªØ¨ÙˆÙƒ 

Ù‡Ø°Ù‡ Ù‡ÙŠ Ø§Ù„Ù…ÙƒØªØ¨Ø§Øª Ø§Ù„Ù„ÙŠ Ø­Ù†Ø­ØªØ§Ø¬Ù‡Ø§ ÙÙŠ Ù…Ø±Ø­Ù„Ø© Ø§ÙƒØªØ´Ø§Ù Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª

* __numpy__: The number one library for scientific computing in python
* __pandas__: Allows us to work with structured data effectively
* __matplotlib__: 2D plotting library
* __seaborn__: Statistical data visualization based on matplotlib

In [3]:
import sys

sys.path.append('../')

%load_ext autoreload
%autoreload 2

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from utils import *
from processing import *

<h2 style="text-align: left;">ğŸš— ØªØ­Ù…ÙŠÙ„ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª</h2>

Our dataset is stored in a comma separated file (CSV-file), and in order to work efficiently with the data we use the Pandas library we imported as pd above. Pandas is a data tool for Python, where data is represented by a DataFrame: a table of structured data similar to an Excel-sheet. You can think of a DataFrame as both a SQL table and a spreadsheet where you have columns with column names and rows with indexes.

We will use Pandas a lot during this lab since it is a good and very popular tool for structured data. We have made an effort to explain every function/method or attribute you need, but you are still encouraged to use the documentation provided by Pandas if needed:

https://pandas.pydata.org/pandas-docs/stable/index.html# (or ask us!)

Another recommended resource for learning some Pandas is "Kaggle Learn" and their Pandas module (www.kaggle.com)

In [5]:
# Load the dataset from the CSV-file into a Pandas dataframe and assign it to a new variable called "df"
df = read_saudi_arabia_used_cars_dataset()
df.head()

       Make  Year   Color    Options Fuel_Type  Mileage   Price     Type
0  Chrysler  2018   Black       Full       Gas   103000  114000     C300
1    Nissan  2019  Silver   Standard       gas    72418   27500    Sunny
2   Hyundai  2019    Grey   Standard       gas   114154   43000  Elantra
3   Hyundai  2019  Silver  Semi Full       Gas    41912   59500  Elantra
4     Honda  2018    Navy       Full       Gas    39000   72000   Accord

In [6]:
df.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5642 entries, 0 to 5641
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Make       5642 non-null   object
 1   Year       5642 non-null   int64
 2   Color      5642 non-null   object
 3   Options    5602 non-null   object
 4   Fuel_Type  5642 non-null   object
 5   Mileage    5642 non-null   int64
 6   Price      5642 non-null   int64
 7   Type       5642 non-null   object
dtypes: int64(3), object(5)
memory usage: 1.8 MB

<h2 style="text-align: left;"> ğŸ‘€ Ø£Ù„Ù‚Ù Ù†Ø¸Ø±Ø© Ø£ÙˆÙ„Ù‰ Ø¹Ù„Ù‰ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª</h2>

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡:</b> Ø§Ø·Ø¨Ø¹ Ø£ÙˆÙ„ Ø¹Ø´Ø±Ø© ØµÙÙˆÙ Ù…Ù† Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ø³ÙŠØ§Ø±Ø§Øª Ø§Ù„Ù…Ø³ØªØ¹Ù…Ù„Ø© ğŸ“</h3>

You can also display the start of the `DataFrame` by using the method `head`. 
â€‹
```python
<name of dataframe>.head(n=7) 
```

In [7]:
# Your code goes here
df.head(10)

        Make  Year   Color    Options Fuel_Type  Mileage   Price          Type
0   Chrysler  2018   Black       Full       Gas   103000  114000          C300
1     Nissan  2019  Silver   Standard       gas    72418   27500         Sunny
2    Hyundai  2019    Grey   Standard       gas   114154   43000       Elantra
3    Hyundai  2019  Silver  Semi Full       Gas    41912   59500       Elantra
4      Honda  2018    Navy       Full       Gas    39000   72000        Accord
5     Toyota  2011   White  Semi Full       gas   183000   92000  Land Cruiser
6  Chevrolet  2019   Black   Standard       gas    70000   80000        Impala
7     Toyota  2018   White   Standard       gas   131000   32000         Yaris
8     Toyota  2017   White   Standard       Gas   107000   50000         Camry
9     Nissan  2014   White       Full       Gas   106000  135000        Patrol

You can also display the end of the `DataFrame` by using the method `tail`. 
â€‹
```python
<name of dataframe>.tail(n=7)   
```

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¢:</b> Ø§Ø·Ø¨Ø¹ Ø¢Ø®Ø± Ø«Ù…Ø§Ù†ÙŠØ© ØµÙÙˆÙ Ù…Ù† Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„Ø³ÙŠØ§Ø±Ø§Øª Ø§Ù„Ù…Ø³ØªØ¹Ù…Ù„Ø© ğŸ“</h3>

In [8]:
# Your code goes here
df.tail(10)

            Make  Year   Color    Options Fuel_Type  Mileage  Price     Type
5632         GMC  2019    Grey       Full       Gas    50000      1    Yukon
5633  Mitsubishi  2011    Navy  Semi Full       gas   140000  38000   Pajero
5634  Mitsubishi  2009    Grey   Standard       gas   222835  11500   Lancer
5635        Ford  2013   Black   Standard       gas   277000  30000     Edge
5636         Kia  2012   Black   Standard       Gas   147000  25000  Cadenza
5637         Kia  2006    Navy       Full       gas   257000  15000  Sorento
5638        Audi  2015  Silver       Full       Gas    77000  75000       A6
5639   Chevrolet  2010  Silver       Full       gas   150000  53000   Camaro
5640      Nissan  2011  Silver       Full       gas    18500  22000   Altima
5641    Cadillac  2013   White       Full       Gas   256000  40000    Other

Now that you have looked at the dataset you probably have a good understanding of each feature/column.   
But to make sure that we have a common understanding we list the columns and their measurement unit. 

* Make: Ø§Ù„Ù…Ø§Ø±ÙƒØ©
* Type: Ø§Ù„Ù†ÙˆØ¹
* Year: Ø§Ù„Ù…ÙˆØ¯ÙŠÙ„
* Color: Ø§Ù„Ù„ÙˆÙ† Ø§Ù„Ø®Ø§Ø±Ø¬ÙŠ
* Options: Full or standard
* Fuel_type: Ù†ÙˆØ¹ Ø§Ù„ÙˆÙ‚ÙˆØ¯
* Mileage: Ø§Ù„Ù…Ù…Ø´Ù‰ Ø¨Ø§Ù„ÙƒÙŠÙ„ÙˆÙ…ØªØ±
* Price: Ø§Ù„Ø³Ø¹Ø± Ø¨Ø§Ù„Ø±ÙŠØ§Ù„ Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠ

<h3 style="text-align: left;"> ğŸ§® Ø§Ø¹Ø±Ø¶ Ø¨Ø¹Ø¶ Ø§Ù„Ø¥Ø­ØµØ§Ø¡Ø§Øª ÙˆØ§Ù„Ø®ØµØ§Ø¦Øµ Ù„Ù„Ø¨ÙŠØ§Ù†Ø§Øª</h3>

In [9]:
# round(2) decide how many decimals are printed. 
# Feel free to remove round(2)
df.describe().round(2)

          Year      Mileage      Price
count  5642.00      5642.00    5642.00
mean   2014.78    140322.89   77248.02
std       5.22    334301.18   69508.76
min    1963.00       100.00       0.00
25%    2013.00     47000.00   35000.00
50%    2016.00    101000.00   58000.00
75%    2018.00    181000.00   95000.00
max    2021.00  20000000.00  696000.00

<h3 style="text-align: left;"><b>Ø³Ø¤Ø§Ù„ :</b> Ø¨Ù†Ø§Ø¡ Ø¹Ù„Ù‰ Ù‡Ø°Ø§ Ø§Ù„Ù…Ù„Ø®Øµ Ø§Ù„Ø¥Ø­ØµØ§Ø¦ÙŠ Ø£Ø¹Ù„Ø§Ù‡ØŒ Ù‡Ù„ ØªØ³ØªØ·ÙŠØ¹ Ø§Ù„Ø¥Ø¬Ø§Ø¨Ø© Ø¹Ù„Ù‰ Ù‡Ø°Ù‡ Ø§Ù„Ø£Ø³Ø¦Ù„Ø© â“</h3>

<div style="text-align: left;">ØªÙ‚Ø±ÙŠØ¨Ù‹Ø§ØŒ ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ø³ÙŠØ§Ø±Ø§Øª Ø§Ù„Ù…ÙØ³ØªØ¹Ù…Ù„Ø© ÙÙŠ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ù…ÙˆØ¯ÙŠÙ„Ù‡Ø§ Ù‡Ùˆ Ø³Ù†Ø© Ù¢Ù Ù¡Ù¨ Ø£Ùˆ Ø£ÙƒØ«Ø±ØŸ  -</div>
<div style="text-align: left;">Ù„Ùˆ ÙƒØ§Ù† Ø¹Ù†Ø¯Ùƒ Ù¦Ù Ù Ù Ù  Ø±ÙŠØ§Ù„ØŒ ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ø³ÙŠØ§Ø±Ø§Øª Ø§Ù„Ù…Ù†Ø§Ø³Ø¨Ø© Ù„Ù…ÙŠØ²Ø§Ù†ÙŠØªÙƒØŸ  -</div>
<div style="text-align: left;">ØªÙ‚Ø±ÙŠØ¨Ù‹Ø§ ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„Ø³ÙŠØ§Ø±Ø§Øª Ø§Ù„ØªÙŠ Ù…Ø´Øª Ø£Ù‚Ù„ Ù…Ù† Ù¥Ù  Ø£Ù„Ù ÙƒÙŠÙ„ÙˆÙ…ØªØ±ØŸ  -</div>

<div style="text-align: left;">:Ø¥Ø¬Ø§Ø¨Ø© Ø§Ù„Ø³Ø¤Ø§Ù„ Ø§Ù„Ø£ÙˆÙ„</div>

{Ø§ÙƒØªØ¨ Ù‡Ù†Ø§}

<div style="text-align: left;">:Ø¥Ø¬Ø§Ø¨Ø© Ø§Ù„Ø³Ø¤Ø§Ù„ Ø§Ù„Ø«Ø§Ù†ÙŠ</div>

{Ø§ÙƒØªØ¨ Ù‡Ù†Ø§}

<div style="text-align: left;">:Ø¥Ø¬Ø§Ø¨Ø© Ø§Ù„Ø³Ø¤Ø§Ù„ Ø§Ù„Ø«Ø§Ù„Ø«</div>

{Ø§ÙƒØªØ¨ Ù‡Ù†Ø§}

<h2 style="text-align: left;"> ğŸ§¹ ØªÙ†Ø¸ÙŠÙ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª</h2>

When working with data it is important to know how each feature (column) is represented. 
To display the type of each feature we use the `DataFrame` attribute `dtypes`:

```python
<name of dataframe>.dtypes
```

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù£:</b> Ø§Ø·Ø¨Ø¹ Ø£Ù†ÙˆØ§Ø¹ ÙƒÙ„ Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© ÙÙŠ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ğŸ“</h3>

In [10]:
### Your code goes here
df.dtypes

Make         object
Year          int64
Color        object
Options      object
Fuel_Type    object
Mileage       int64
Price         int64
Type         object
dtype: object

<h3 style="text-align: left;"> â›½ Ù†Ø¸Ù‘Ù Ø¹Ù…ÙˆØ¯ Ù†ÙˆØ¹ Ø§Ù„ÙˆÙ‚ÙˆØ¯</h3>

To access a column in the dataframe you simply use:

```python
dataframe['ColumnName']
```
or
```python
dataframe.ColumnName
```

This gives you a Pandas object called a `Series`, which is a datatype used for single-column `DataFrame`-types. You can index a `Series` like you would index a list or an array in Python:


```python
dataframe['ColumnName'][start:stop:step]
```
or
```python
dataframe.ColumnName[start:stop:step]
```

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¤:</b> Ø§Ø·Ø¨Ø¹ Ø¹Ù…ÙˆØ¯ Ù†ÙˆØ¹ Ø§Ù„ÙˆÙ‚ÙˆØ¯ØŒ Ø«Ù… Ø­Ø§ÙˆÙ„ Ø£Ù† ØªØ­ØµÙ„ Ø¹Ù„Ù‰ Ø£Ø¬Ø²Ø§Ø¡ Ù…Ù†Ù‡ ğŸ“</h3>

In [11]:
### Your code goes here
df.Fuel_Type

0       Gas
1       gas
2       gas
3       Gas
4       Gas
       ...
5637    gas
5638    Gas
5639    gas
5640    gas
5641    Gas
Name: Fuel_Type, Length: 5642, dtype: object

In [12]:
df.Fuel_Type[0:10:2]

0    Gas
2    gas
4    Gas
6    gas
8    Gas
Name: Fuel_Type, dtype: object

You probably noticed that "Gas" was written with a capital "G" in some rows and a lowercase g in other rows. This gives reason to suspect that there are other inconsistencies in this column, and it would be nice to see all the distinct values used for `FuelType`.  

To see all the unique values in a column we use the method `unique`:

```python
dataframe['column'].unique()
#or
dataframe.column.unique()
```

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¥:</b> Ø§Ø·Ø¨Ø¹ ÙƒÙ„ Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ØªÙØ±Ø¯Ø© ÙÙŠ Ø¹Ù…ÙˆØ¯ Ù†ÙˆØ¹ Ø§Ù„ÙˆÙ‚ÙˆØ¯ ğŸ“</h3>

In [13]:
### Your code goes here
df.Fuel_Type.unique()

array(['Gas', 'gas', 'Diesel', 'Hybrid'], dtype=object)

There are only three distinct real types of fuel, but each fuel type is currently spelled or typed in several different ways.  
Our algorithms and models will not be able to understand that "gas" and "Gas" is the same, so we need to make the data consistent. 

There are many ways to replace values in a column, but we would like you to be familiar with the `loc`-functionality in Pandas. This attribute makes it possible to access the entire `DataFrame` through indexes:



```python
#One value
dataframe.loc[index, column]

#One row
dataframe.loc[index, :]

#Selection of rows and columns
dataframe.loc[start:stop:step,['ColumnName_1', 'ColumnName_2', 'ColumnName_3']]

#Update value(s)
dataframe.loc[index, column] = new_value
```




`index` can be any variable that matches the index used in the `DataFrame` or a boolean (True/False) array/series that indicates which rows we want (a boolean mask). Integers or lists/arrays/series of integers can also be used, but if you want to use integers to describe the *position* of a row in a `DataFrame` it is better to use the method `.iloc[]`.  
`column` can be one particular columnname or a list of column names. 




<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¦:</b> Ù†Ø¸Ù‘Ù Ø¹Ù…ÙˆØ¯ Ù†ÙˆØ¹ Ø§Ù„ÙˆÙ‚ÙˆØ¯ Ø¨Ø­ÙŠØ« Ø£Ù† ØªÙƒÙˆÙ† Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ØªÙØ±Ø¯Ø© Ù‡ÙŠ ÙÙ‚Ø· Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„ØªØ§Ù„ÙŠØ© ğŸ“</h3>

- **Gas**
- **Diesel**
- **Hybrid**

In [22]:
# To get you started we provide the boolean series
# you can use as an index (often called a boolean mask) to get all rows where Gas 
# is written with lowercase g.
### Your code goes here
Gas_boolean = df['Fuel_Type'].str.contains('gas', case=True)


# Gas_boolean is now a series of boolean values that indicate whether the statement above was true of not for the corresponding row entry in the 'FuelType'-column.

# Print the first 5 values of Gas_boolean to show what it contains:
### Your code goes here
Gas_boolean[0:5]

0    False
1     True
2     True
3    False
4    False
Name: Fuel_Type, dtype: bool

In [27]:
# So, use the boolean mask as an "index selector" to the main dataframe using the `.loc` accessor.
# Something like this:

# df.loc[my_boolean_mask, my_selected_column_name] = my_new_value_to_replace_old_values_where_mask_is_true

### Your code goes here
df.loc[Gas_boolean, ["Fuel_Type"]] = "Gas"

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù§:</b> Ø§Ø·Ø¨Ø¹ Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ØªÙØ±Ø¯Ø© ÙÙŠ Ø¹Ù…ÙˆØ¯ Ù†ÙˆØ¹ Ø§Ù„ÙˆÙ‚ÙˆØ¯ ÙˆØªØ£ÙƒØ¯ Ø£Ù†Ù‡Ø§ ØªØ­ÙˆÙŠ Ø¹Ù„Ù‰ Ø§Ù„Ù…Ø·Ù„ÙˆØ¨Ø© ÙÙ‚Ø· ğŸ“</h3>

In [29]:
# Your code goes here
df["Fuel_Type"].unique()

array(['Gas', 'Diesel', 'Hybrid'], dtype=object)

<h3 style="text-align: left;"> ğŸ¤¯ ØªØ£ÙƒØ¯ Ù„Ùˆ Ù…Ø¬Ù…ÙˆØ¹Ø© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ØªØ­ØªÙˆÙŠ Ø¹Ù„Ù‰ Ù‚ÙŠÙ… Ù…ÙÙ‚ÙˆØ¯Ø©</h3>

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¨: </b> ØªØ£ÙƒØ¯ Ù„Ùˆ Ù…Ø¬Ù…ÙˆØ¹Ø© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ØªØ­ØªÙˆÙŠ Ø¹Ù„Ù‰ Ù‚ÙŠÙ… Ù…ÙÙ‚ÙˆØ¯Ø©  ğŸ“</h3>

Datasets are rarely complete, in other words they often contain unwanted `null` or `nan` values or similar.   
Pandas `DataFrames` have a method `isnull` that gives True/False for every value in the dataframe:
```python
dataframe.isnull()
```
If we want to count "holes" in our data this method is not very useful when it is used by itself, since it returns a dataframe of the same size as the original dataframe. 

Try for yourself and you'll see what we mean.

In [30]:
# Your code goes here
df.isnull()

       Make   Year  Color  Options  Fuel_Type  Mileage  Price   Type
0     False  False  False    False      False    False  False  False
1     False  False  False    False      False    False  False  False
2     False  False  False    False      False    False  False  False
3     False  False  False    False      False    False  False  False
4     False  False  False    False      False    False  False  False
...     ...    ...    ...      ...        ...      ...    ...    ...
5637  False  False  False    False      False    False  False  False
5638  False  False  False    False      False    False  False  False
5639  False  False  False    False      False    False  False  False
5640  False  False  False    False      False    False  False  False
5641  False  False  False    False      False    False  False  False

[5642 rows x 8 columns]

However, to find the number of missing values in our dataset we simply count the occurence of null/nan values for each column (feature).  This is done by summing up all `True`-values:

```python
dataframe.isnull().sum()
```

In [31]:
### Your code goes here
df.isnull().sum()

Make          0
Year          0
Color         0
Options      40
Fuel_Type     0
Mileage       0
Price         0
Type          0
dtype: int64

Remember the three main approaches to handle missing values:

1. Delete rows and/or column(s)
2. Keep everything and choose a model that can handle missing values
3. Perform data imputation

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù©: </b> Ø§Ø·Ø¨Ø¹ Ø§Ù„ØµÙÙˆÙ ÙÙŠ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„ØªÙŠ ØªØ­ØªÙˆÙŠ Ø¹Ù„Ù‰ Ù‚ÙŠÙ… Ù…ÙÙ‚ÙˆØ¯Ø©  ğŸ“</h3>

In [33]:
### Your code goes here
df[df["Options"].isnull()]

,Make,Year,Color,Options,Fuel_Type,Mileage,Price,Type
229,Land Rover,2019,Black,NaN,Gas,1800,350000,Range Rover
1262,Ford,2015,Black,NaN,Gas,125000,75000,Expedition
1428,Chevrolet,2016,White,NaN,Gas,56500,65000,Traverse
1437,Pontiac,1978,White,NaN,Gas,240000,25000,Bonneville
1459,Toyota,2013,Silver,NaN,Gas,286000,38000,Innova
1683,Land Rover,2019,White,NaN,Gas,36000,400000,Range Rover
2158,Land Rover,2020,White,NaN,Gas,65000,435000,Range Rover
2521,Dodge,2020,Grey,NaN,Gas,9120,115000,Charger
2527,Hyundai,2016,Another Color,NaN,Gas,258000,38000,Sonata
2528,Lexus,2021,Silver,NaN,Gas,1300,175000,ES
2918,BMW,2014,Silver,NaN,Gas,139000,90000,The 7
2919,Toyota,2017,White,NaN,Gas,120000,59000,Camry
2938,Toyota,2020,White,NaN,Gas,43000,265000,Land Cruiser
3205,Bentley,2013,Another Color,NaN,Gas,121000,280000,Continental GT
3345,Mercedes,2014,Black,NaN,Gas,90000,220000,S
3367,Ford,2014,White,NaN,Gas,266000,50000,Taurus
3368,Chevrolet,2014,Black,NaN,Gas,195000,42000,Traverse
3485,Kia,2018,Black,NaN,Gas,125000,55000,Optima
3486,Chevrolet,2010,White,NaN,Gas,73000,37000,Silverado
3594,Kia,2015,Red,NaN,Gas,147000,38000,Sportage
3595,Honda,2008,Silver,NaN,Gas,450000,15000,Civic
3807,Geely,2019,Golden,NaN,Gas,66000,40000,Emgrand
3808,Nissan,2005,Another Color,NaN,Gas,340000,35000,Patrol
3968,Mercedes,2017,White,NaN,Gas,26000,245000,S
4028,Hyundai,2020,Silver,NaN,Gas,6400,1156,Kona
4036,Chevrolet,2008,Black,NaN,Gas,247000,42500,Tahoe
4096,BMW,2019,White,NaN,Gas,6000,335000,The 7
4378,Hyundai,2021,Black,NaN,Gas,16000,1770,Azera
4379,Ford,2013,White,NaN,Gas,300000,40000,Taurus
4380,Toyota,2010,Silver,NaN,Gas,400000,22000,Camry
4449,Toyota,2016,White,NaN,Gas,180000,72000,Hiace
4728,Ford,2011,White,NaN,Gas,181000,10000,Focus
4795,Honda,2012,White,NaN,Gas,266700,30000,Pilot
4957,Volkswagen,2012,Navy,NaN,Gas,170000,21000,Tiguan
5030,Mitsubishi,2020,White,NaN,Gas,22000,67000,ASX
5031,Toyota,2014,White,NaN,Gas,542966,22000,Camry
5153,Toyota,1995,Silver,NaN,Gas,300000,20000,Land Cruiser
5244,GMC,2007,Black,NaN,Gas,280000,13500,Envoy
5245,Land Rover,2019,Grey,NaN,Gas,4200,599000,Range Rover
5346,Hyundai,2012,White,NaN,Gas,271800,24000,Sonata

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù :</b> Ø£ÙˆØ¬Ø¯ Ø¥Ø¬Ù…Ø§Ù„ÙŠ Ø¹Ø¯Ø¯ Ø§Ù„ØµÙÙˆÙ ÙÙŠ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø§Ù„ØªÙŠ Ù„Ø¯ÙŠÙ†Ø§ ğŸ“</h3>

In [35]:
### Your code goes here
df.shape[0]

5642

<h3 style="text-align: left;"> ğŸ¤¹ Ø§Ù„ØªØ¹Ø§Ù…Ù„ Ù…Ø¹ Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ù…ÙÙ‚ÙˆØ¯Ø©</h3>

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù¡: </b> Ø§Ø­Ø°Ù ÙƒÙ„ Ø§Ù„ØµÙÙˆÙ Ø§Ù„ØªÙŠ ØªØ­ÙˆÙŠ Ø¹Ù„Ù‰ Ù‚ÙŠÙ… Ù…ÙÙ‚ÙˆØ¯Ø© ÙÙŠ Ø¥Ø­Ø¯Ù‰ Ø£Ø¹Ù…Ø¯ØªÙ‡Ø§  ğŸ“</h3>

In the previous exercise you found that a small percentage of our dataset with a total of 41 rows contain null/nan.  
In this case we therefore remove the rows containing missing values. 
We do this with the method `dropna`:

In [ ]:
# Use the method "drop nan" on the DataFrame itself to force it to remove rows with null/nan-values:
### Your code goes here

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù¢:</b> ÙƒÙ… Ø¹Ø¯Ø¯ Ø§Ù„ØµÙÙˆÙ Ø§Ù„Ù…ØªØ¨Ù‚ÙŠØ© Ø§Ù„Ø¢Ù† ÙÙŠ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§ØªØŸ ğŸ“</h3>

In [ ]:
### Your code goes here

ÙƒØ¯Ù‡ Ù†ÙƒÙˆÙ† Ø®Ù„ØµÙ†Ø§ Ù…Ù† ØªÙ†Ø¸ÙŠÙ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª! ğŸ‰ Ù…Ø¨Ø±ÙˆÙƒ

**Ø§Ù„Ø¢Ù† Ø­Ù†Ø¨Ø¯Ø£ Ø¨Ø§ÙƒØªØ´Ø§Ù Ø§Ù„Ù…ÙŠØ²Ø§Øª Ø§Ù„Ù…Ø®ØªÙ„ÙØ© ÙÙŠ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø¨Ø´ÙƒÙ„ Ø£Ø¹Ù…Ù„Ù‚ Ø£ÙƒØ«Ø±**

<h2 style="text-align: left;"> ğŸ”¬ Ø£Ù„Ù‚Ù Ù†Ø¸Ø±Ø© Ø¹Ù† ÙƒØ«Ø¨ Ø¹Ù„Ù‰ ÙƒÙ„ Ø¹Ù…ÙˆØ¯/Ù…ÙŠØ²Ø© ÙÙŠ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª</h2>

To plot a histogram for one column (feature) in a Pandas `DataFrame`:








```python
df['column'].plot(kind='hist')
```

The bin size is crucial to get an informative histogram. Luckily it is very easy to specify the bins we want in the histogram:  

```python
df['column'].plot(kind='hist', bins=array)
```

There is two main ways to make the array used as bins. Both use the library `NumPy` which we imported with the nickname `np`.  
It's up to you to decide which method you want to use. We find that np.linspace is easier to use in some cases and np.arange in other.

```python
bins = np.linspace(start, stop, num_points)
# or
bins = np.arange(start, stop, step)
```

(In general `np.linspace` is most convenient when we know how many bins we want and `np.arange` is best if we know the bin width.)

<h3 style="text-align: left;"> ğŸ’° Ø§Ù„Ø³Ø¹Ø±</h3>

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù£:</b> Ø§Ø±Ø³Ù… ØªÙˆØ²ÙŠØ¹ Ø£Ø³Ø¹Ø§Ø± Ø§Ù„Ø³ÙŠØ§Ø±Ø§Øª Ø¨Ø§Ø³ØªØ®Ø¯Ø§Ù… Ù…Ø®Ø·Ø· Ø§Ù„Ù…Ø¯Ø±Ø¬ Ø§Ù„ØªÙƒØ±Ø§Ø±ÙŠ. ØªØ­ÙƒÙ… Ø¨Ø¹Ø¯Ø¯ Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© Ø§Ù„Ù…Ø¹Ø±ÙˆØ¶Ø© ÙÙŠ Ø§Ù„Ø±Ø³Ù…Ø© Ø¨Ø­ÙŠØ« ÙŠÙƒÙˆÙ† Ø¹Ø±Ø¶ Ø§Ù„Ø¹Ù…ÙˆØ¯ Ø¹Ø´Ø±Ø© Ø¢Ù„Ø§Ù Ø±ÙŠØ§Ù„ Ø³Ø¹ÙˆØ¯ÙŠğŸ“</h3>

Remember (or check, using df.Price.max()) that the maximum value in this column is 700k SAR.

In [ ]:
# Your code goes here

**Ù…Ø¨Ø±ÙˆÙƒ ğŸ‰**

Ø¬Ø±Ø¨ Ø§Ù„Ø¢Ù† Ø¥Ù†Ùƒ ØªÙ„Ø¹Ø¨ Ø¨Ù‚ÙŠÙ…Ø© Ø¹Ø¯Ø¯ Ø§Ù„Ø£Ø¹Ù…Ø¯Ø© ÙˆØ´ÙˆÙ ÙƒÙŠÙ Ø­ÙŠØºÙŠØ± Ø´ÙƒÙ„ Ø§Ù„Ø±Ø³Ù…Ø©

<h3 style="text-align: left;"> ğŸ›£ï¸ Ø§Ù„Ù…Ù…Ø´Ù‰</h3>

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù¤:</b> Ø§Ø±Ø³Ù… ØªÙˆØ²ÙŠØ¹ Ø§Ù„ÙƒÙŠÙ„ÙˆÙ…ØªØ±Ø§Øª Ø§Ù„ØªÙŠ Ù‚Ø·Ø¹ØªÙ‡Ø§ Ø§Ù„Ø³ÙŠØ§Ø±Ø§Øª. ØªØ°ÙƒØ± Ø£Ù† Ø£ÙƒØ¨Ø± Ù…Ù…Ø´Ù‰ ÙÙŠ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ù‡Ùˆ Ù¢Ù  Ù…Ù„ÙŠÙˆÙ† ÙƒÙŠÙ„ÙˆÙ…ØªØ± ğŸ“</h3>

In [ ]:
# Your code goes here

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù¥:</b> Ø§ÙƒØªØ´Ù Ù…Ø§ Ø¥Ø°Ø§ ÙƒØ§Ù† Ù‡Ù†Ø§Ùƒ Ù‚ÙŠÙ… Ø´Ø§Ø°Ø© ÙÙŠ Ø¹Ù…ÙˆØ¯ Ø§Ù„Ù…Ù…Ø´Ù‰ ğŸ“</h3>

In [ ]:
# Your code goes here

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù¦:</b> Ù‚Ù… Ø¨Ø¥Ø²Ø§Ù„Ø© Ø§Ù„Ù‚ÙŠÙ… Ø§Ù„Ø´Ø§Ø°Ø© Ø§Ù„ØªÙŠ ÙˆØ¬Ø¯ØªÙ‡Ø§ ÙÙŠ Ø§Ù„ØªÙ…Ø±ÙŠÙ† Ø§Ù„Ø³Ø§Ø¨Ù‚ ğŸ“</h3>

In [ ]:
# Your code goes here

Ø§Ù„Ù„ÙŠ Ù‚Ø¯ ÙŠÙƒÙˆÙ† Ø£ÙƒØ«Ø± Ø£Ù‡Ù…ÙŠØ© Ù…Ù† ØªÙˆØ²ÙŠØ¹ Ø§Ù„ÙƒÙŠÙ„ÙˆÙ…ØªØ±Ø§Øª Ù‡Ùˆ Ø§Ù„Ø¹Ù„Ø§Ù‚Ø© Ø¨ÙŠÙ† Ù…Ù…Ø´Ù‰ Ø³ÙŠØ§Ø±Ø© ÙˆØ³Ø¹Ø±Ù‡Ø§

Ø¹Ø´Ø§Ù† Ù†ØµÙˆØ± Ù‡Ø°Ù‡ Ø§Ù„Ø¹Ù„Ø§Ù‚Ø©ØŒ Ù…Ù…ÙƒÙ† Ù†Ø³ØªØ®Ø¯Ù… Ù…Ø®Ø·Ø· Ø§Ø³Ù…Ù‡ Ù…Ø®Ø·Ø· Ø§Ù„Ø§Ù†ØªØ´Ø§Ø±

The syntax is as follows:

```python
dataframe.plot(kind='scatter', x='ColumnName_1', y='ColumnName_2')
```

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù§:</b> Ø§Ø±Ø³Ù… Ù…Ø®Ø·Ø· Ø§Ù„Ø§Ù†ØªØ´Ø§Ø± Ø¨Ø­ÙŠØ« ØªØ¸Ù‡Ø± ØªÙˆØ²ÙŠØ¹ ÙƒÙ„ Ù…Ù† Ù…ÙŠØ²ØªÙŠ Ø§Ù„Ù…Ù…Ø´Ù‰ ÙˆØ§Ù„Ø³Ø¹Ø± ÙˆØ§Ù„Ø¹Ù„Ø§Ù‚Ø© Ø¨ÙŠÙ†Ù‡Ù…Ø§ğŸ“</h3>

In [ ]:
### Your code goes here

<h3 style="text-align: left;"><b>Ø³Ø¤Ø§Ù„ :</b> ÙƒÙŠÙ ØªÙØ³Ø± Ø§Ù„Ø¹Ù„Ø§Ù‚Ø© Ø¨ÙŠÙ† Ø§Ù„Ù…Ù…Ø´Ù‰ ÙˆØ§Ù„Ø³Ø¹Ø±ØŸ Ù‡Ù„ Ù‡ÙŠ Ù…ØªÙˆØ§ÙÙ‚Ø© Ù…Ø¹ ÙƒÙ…Ø§ ÙƒÙ†Øª ØªØªÙˆÙ‚Ø¹Ù‡ØŸ â“</h3>

<h3 style="text-align: left;"><b>Ø§ÙƒØªØ¨ Ø¥Ø¬Ø§Ø¨ØªÙƒ ÙÙŠ Ù‡Ø°Ù‡ Ø§Ù„Ø®Ù„ÙŠØ©</b></h3>

<div style="text-align: left;">:Ø§Ù„Ø¥Ø¬Ø§Ø¨Ø©</div>

{Ø§ÙƒØªØ¨ Ù‡Ù†Ø§}

<h3 style="text-align: left;"> ğŸ¨ Ø§Ù„Ù„ÙˆÙ† Ø§Ù„Ø®Ø§Ø±Ø¬ÙŠ</h3>

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù¨:</b> Ø§Ø¹Ù…Ù„ Ø±Ø³Ù… Ø¨ÙŠØ§Ù†ÙŠ ÙŠÙ…Ø«Ù„ Ø£Ø¹Ø¯Ø§Ø¯ Ø§Ù„Ø³ÙŠØ§Ø±Ø§Øª Ø§Ù„Ù…Ø³ØªØ¹Ù…Ù„Ø© Ù„ÙƒÙ„ Ù„ÙˆÙ† Ù…Ù† Ø§Ù„Ø£Ù„ÙˆØ§Ù† Ø§Ù„Ù…ÙˆØ¬ÙˆØ¯Ø© ğŸ“</h3>

In [ ]:
### Your code goes here

<h2 style="text-align: left;">(Ø§Ø®ØªÙŠØ§Ø±ÙŠ) ğŸ¤œğŸ¤› Ø§Ù„ØªØ±Ø§Ø¨Ø·</h2>

<h3 style="text-align: left;"> ğŸ›ï¸ Ù…ØµÙÙˆÙØ© Ø§Ù„ØªØ±Ø§Ø¨Ø·</h3>

Using Pandas it is very easy to calculate the correlations between all features:

```python
dataframe.corr()
```

We only want the correlation for features that are not categorical (remember that we consider binary features as categorical).   
In our dataset this corresponds to the features Age, KM, Weight, CC and HP.

Remember that we can select a subset of a DataFrame like this:
```python
dataframe[['column1', 'column2', 'column3']]
```

__Exercise:__ Calculate the correlation matrix for all features that are not categorical. Remember to include `Price` since we also want the correlations between the features and the sales price.

In [ ]:
df.drop(columns=['Color','Fuel_Type']).corr()

**Using Seaborn to enhance our plotting/graphing**

We believe that the correlation matrix looks better in color so we plot it using a function called `heatmap` from the library `seaborn`. `seaborn` has some great "shortcuts" for providing insight into dataset statistics.

In [ ]:
# Run this cell and a very nice matrix will hopefully appear
sns.heatmap(df[['Price','Year', 'Mileage']].corr(),annot=True, center=0, cmap='BrBG', annot_kws={"size": 14})
plt.show()

As we expected `Year` have the highest correlation with `Price`, followed by mileage (`KM`) and `Weight`. 

But, take a closer look at: 
* The correlation between Year and Mileage.   
* The correlation between Engine_Size and Mileage.

**Ø§ÙŠØ´ Ø§Ù„Ø´ÙŠ Ø§Ù„ØºØ±ÙŠØ¨ ÙÙŠ Ù‚ÙŠÙ… Ø§Ù„Ø¹Ù„Ø§Ù‚Ø§Øª Ø¨ÙŠÙ† Ù‡Ø°Ù‡ Ø§Ù„Ù…ØªØºÙŠØ±Ø§ØªØŸ**

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ø§Ø®ØªÙŠØ§Ø±ÙŠ:</b> Ù„ÙŠØ´ Ø§Ù„ØªØ±Ø§Ø¨Ø· Ø¨ÙŠÙ† Ø§Ù„Ø³Ù†Ø© ÙˆØ§Ù„Ù…Ù…Ø´Ù‰ ÙƒØ¨ÙŠØ± Ù†Ø³Ø¨ÙŠÙ‹Ø§ ÙˆØ³Ø§Ù„Ø¨ØŸ Ù„ÙƒÙ† Ø§Ù„Ù‚ÙŠÙ…Ø© Ø¨ÙŠÙ† Ø­Ø¬Ù… Ø§Ù„Ù…Ø­Ø±Ùƒ ÙˆØ§Ù„Ù…Ù…Ø´Ù‰ ØµØºÙŠØ±Ø©ØŸ Ù‡Ù„ Ø¹Ù†Ø¯Ùƒ Ø£ÙŠØ© Ø£ÙÙƒØ§Ø±ØŸ ğŸ“</h3>

<h3 style="text-align: left;"><b>Ø§ÙƒØªØ¨ Ø¥Ø¬Ø§Ø¨ØªÙƒ ÙÙŠ Ù‡Ø°Ù‡ Ø§Ù„Ø®Ù„ÙŠØ©</b></h3>

<div style="text-align: left;">:Ø§Ù„Ø¥Ø¬Ø§Ø¨Ø© -</div>
Ø§Ù„ØªØ±Ø§Ø¨Ø· Ø¨ÙŠÙ† Ø³Ù†Ø© Ø§Ù„ØªØµÙ†ÙŠØ¹ ÙˆØ§Ù„Ù…Ù…Ø´Ù‰ ÙƒØ¨ÙŠØ± Ù†Ø³Ø¨ÙŠÙ‹Ø§ Ù‡Ùˆ Ø£Ù…Ø± Ø·Ø¨ÙŠØ¹ÙŠ Ù„Ø£Ù†Ù‡ ÙƒÙ„ Ø²Ø§Ø¯ Ø¹Ù…Ø± Ø§Ù„Ø³ÙŠØ§Ø±Ø©ØŒ ÙƒÙ„Ù…Ø§ Ø§ÙØ³ØªÙ‡Ù„ÙƒØª Ø¨Ø´ÙƒÙ„ Ø£ÙƒØ¨Ø±. Ø¨ÙŠÙ†Ù…Ø§ Ù‡Ùˆ ØµØºÙŠØ± Ø¨ÙŠÙ† Ø­Ø¬Ù… Ø§Ù„Ù…Ø­Ø±Ùƒ ÙˆØ§Ù„Ù…Ù…Ø´Ù‰ Ù„Ø£Ù†Ù‡ Ù„ÙŠØ³ Ø¨ÙŠÙ†Ù‡Ù… Ø£ÙŠ ØªØ±Ø§Ø¨Ø·ØŒ Ù‚Ø¯Ø±Ø§Øª Ø§Ù„Ø³ÙŠØ§Ø±Ø© Ù„ÙŠØ³ Ù„Ù‡ Ø¹Ù„Ø§Ù‚Ø© Ù…Ø¹ Ø§Ù„Ù…Ø³Ø§ÙØ© Ø§Ù„ØªÙŠ Ø³ØªÙ‚Ø·Ø¹Ù‡Ø§ Ø¹Ù„Ù‰ Ù…Ø¯Ø§Ø± ÙØªØ±Ø© Ø§Ø³ØªØ®Ø¯Ø§Ù…Ù‡Ø§

{Ø§ÙƒØªØ¨ Ù‡Ù†Ø§}

<h2 style="text-align: left;"> ğŸ’ ÙÙˆØ§Ø¦Ø¯ Ù…ÙØ³ØªÙ†Ø¨Ø·Ø©</h2>

In the presentation we said that there are four goals in an EDA.   
To sum up the lab so far let's evaluate how well we met those goals:

* __Data Insight__:
    * We found the relationship between all features and Price
        * A key finding is that Year is the feature that by itself is most important
    * Your points goes here:
    * 
   
     
     
     
* __Data Summary__:
    * We calculated the correlation matrix
    * Your points goes here:
    * 
    



* __List of outliers__:
    * Possible outliers found in Mileage feature
    * Possible outliers found in price distribution
    * Your points goes here:
    * 
   
    
* __Dataset ready for modeling__:
    * We made a dataset free of inconcistencies
    * We removed missing values
    * We scaled the dataset

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ø§Ø®ØªÙŠØ§Ø±ÙŠ:</b> Ø§ÙƒØªØ¨ ÙÙˆØ§Ø¦Ø¯ Ø£Ø®Ø±Ù‰ Ø­ØµÙ„Øª Ù…Ù† Ø§Ù„ØªØ­Ù„ÙŠÙ„Ø§Øª Ø§Ù„Ù„ÙŠ Ù‚Ù…Øª ÙÙŠÙ‡Ø§ ÙÙˆÙ‚. Ø§Ù„Ù…Ø¬Ø§Ù„ Ù„Ùƒ ØªØ­Øª Ø¥Ù†Ùƒ ØªÙƒØªØ´Ù Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø¨Ø´ÙƒÙ„ Ø£Ø¹Ù…Ù‚ ÙˆØªØ·Ù„Ø¹ ÙÙˆØ§Ø¦Ø¯ Ø£Ø®Ø±Ù‰. Ù…ØªØ£ÙƒØ¯ÙŠÙ† Ø¥Ù†Ùƒ Ø¨ØªØ´ÙˆÙ Ø£Ø´ÙŠØ§Ø¡ ÙÙŠ Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø­ØªÙƒÙˆÙ† Ø±Ù‡ÙŠØ¨Ø© ÙˆØ¬Ø¯ÙŠØ¯Ø© Ø¹Ù„ÙŠÙ†Ø§ ÙˆÙ…Ù…ÙƒÙ† ØªØ´Ø§Ø±ÙƒÙ‡Ø§ Ù…Ø¹Ø§Ù†Ø§ ğŸ“</h3>

Ø§Ù„Ø¥Ø¬Ø§Ø¨Ø©

{Ø§ÙƒØªØ¨ Ù‡Ù†Ø§}

<h2 style="text-align: left;"> ğŸ•¸ï¸ Ù†Ù…Ø°Ø¬Ø© Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª</h2>

Ø¨ÙƒØ¯Ù‡ Ù†ÙƒÙˆÙ† Ø§Ù†ØªÙ‡ÙŠÙ†Ø§ Ù…Ù† Ù…Ø±Ø­Ù„Ø© Ø§ÙƒØªØ´Ø§Ù Ø§Ù„Ø¨ÙŠØ§Ù†Ø§ØªØŒ Ø§Ù„Ø¢Ù† Ø­Ø§Ù† ÙˆÙ‚Øª Ø§Ù„Ù†Ù…Ø°Ø¬Ø©. Ø­Ù†Ø§Ù‚Ø´ ÙÙŠ Ù‡Ø°Ø§ Ø§Ù„Ù‚Ø³Ù… Ø§Ù„Ù†Ù‚Ø§Ø· Ø§Ù„ØªØ§Ù„ÙŠØ©

* Ø¨Ù†Ø§Ø¡ Ù†Ù…ÙˆØ°Ø¬ Ø§Ù†Ø­Ø¯Ø§Ø± Ø®Ø·ÙŠ Ù„Ù„ØªÙ†Ø¨Ø¤ Ø¨Ø§Ù„Ø£Ø³Ø¹Ø§Ø±
* ØªØ±Ù…ÙŠØ² Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª
* ØªØ³ÙˆÙŠØ© Ø§Ù„Ø®ØµØ§Ø¦Øµ
* Ø¨Ù†Ø§Ø¡ Ù†Ù…ÙˆØ°Ø¬ ØºØ§Ø¨Ø© Ø¹Ø´ÙˆØ§Ø¦ÙŠØ© Ø¨Ø³ÙŠØ·Ø© Ù„Ù„ØªØµÙ†ÙŠÙ

Ù‡Ø°Ø§ Ø§Ù„Ù‚Ø³Ù… Ø­ÙŠÙƒÙˆÙ† Ø£ØºÙ„Ø¨ Ø§Ù„ÙƒÙˆØ¯ Ù…ÙƒØªÙˆØ¨ Ø¨Ù…Ø§ Ø¥Ù†Ù‡ Ù…Ø§ Ø§ØªØ¹Ù…Ù‚Ù†Ø§ ÙÙŠÙ‡ ÙƒØ«ÙŠØ± ÙÙŠ Ø§Ù„Ù…Ø­Ø§Ø¶Ø±Ø©ØŒ Ø§Ù„Ù„ÙŠ Ø¹Ù„ÙŠÙƒ Ù‡Ùˆ Ø£Ù† ØªÙÙ‡Ù… Ø§Ù„Ù†ØªØ§Ø¦Ø¬ ÙˆØªÙ‚ÙŠÙ…Ù‡Ø§

In [ ]:
df = read_ford_used_cars_dataset()
df.head()

### Linear Regression with one feature

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù©:</b> Ø·ÙˆØ± Ù†Ù…ÙˆØ°Ø¬ Ø§Ù†Ø­Ø¯Ø§Ø± Ø®Ø·ÙŠ Ø¨Ù…ØªØºÙŠØ± ÙˆØ§Ø­Ø¯ ğŸ“</h3>

Please fill any `None` in the cell below

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

#Based on the scatter plots it seems like Age and Mileage are the most important feature
# TODO: Make of the features you want to use in the model
features = None

# Create train and test data
# TODO: Specify your input variables (X) and your target variable (y)
X = None
y = None
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Initialize linear regressor model
# 'Train' the model
# Predict price based on data in test - set
# LinReg = RandomForestRegressor(n_estimators=10)
# TODO: Initialize a linear regression model
LinReg = None
LinReg.fit(X_train, y_train)
y_pred =  None
abs_error = np.abs(y_pred - y_test)
print('\n****************\nRMSE: {:.3f}\n****************'.format(np.sqrt(mean_squared_error(y_test, y_pred))))

fig, (ax1, ax2, ax3) = plt.subplots(1,3,figsize=(18,5))
ax1.plot(X_train[:,0], y_train, 'o')
ax1.plot(X_test[:,0], y_pred, 'r.')
ax1.set_xlabel('Age')
ax1.set_ylabel('Price')
ax1.set_title('Predictions and actual data')
ax2.plot(np.arange(len(y_pred)), abs_error, 'x')
ax2.set_title('The absolute error in the predictions')
ax3.hist(abs_error)
ax3.set_title('Distribution of the absolute error')
plt.show()

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¢Ù :</b> Ø­Ø§ÙˆÙ„ Ø£Ù† ØªØ­Ø³Ù† Ù…Ù† Ø£Ø¯Ø§Ø¡ Ø§Ù„Ù†Ù…ÙˆØ°Ø¬ Ø§Ù„Ù…Ø·ÙˆØ± Ø£Ø¹Ù„Ø§Ù‡ ğŸ“</h3>

In [ ]:
# Your code goes here
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

#Based on the scatter plots it seems like Age is the single most important feature
# TODO: Make of the features you want to use in the model
features = None

# Create train and test data
# TODO: Specify your input variables (X) and your target variable (y)
X = None
y = None
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Initialize linear regressor model
# 'Train' the model
# Predict price based on data in test - set
# TODO: Use a more complicated model
model = None
model.fit(X_train, y_train)
y_pred = None
abs_error = np.abs(y_pred - y_test)
print('\n****************\nRMSE: {:.3f}\n****************'.format(np.sqrt(mean_squared_error(y_train, y_train))))

print('\n****************\nRMSE: {:.3f}\n****************'.format(np.sqrt(mean_squared_error(y_test, y_pred))))

fig, (ax1, ax2, ax3) = plt.subplots(1,3,figsize=(18,5))
ax1.plot(X_train[:,0], y_train, 'o')
ax1.plot(X_test[:,0], y_pred, 'r.')
ax1.set_xlabel('Age')
ax1.set_ylabel('Price')
ax1.set_title('Predictions and actual data')
ax2.plot(np.arange(len(y_pred)), abs_error, 'x')
ax2.set_title('The absolute error in the predictions')
ax3.hist(abs_error)
ax3.set_title('Distribution of the absolute error')
plt.show()

### One hot encoding and feature scaling

Until now we have not encoded the feature FuelType, but before we can use this feature as input to a model or a dimensionality reduction we need to apply one hot encoding. 
Running the next cell will store an encoded version of the dataset in a new dataframe called `df_ohe`.

In [ ]:
df_ohe = df.drop(columns=['Type', 'Options', 'Color', 'Make']).copy(deep=True)
df_ohe['Fuel_Type'] = df_ohe['Fuel_Type'].astype('category')
df_ohe = pd.get_dummies(df_ohe)

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¢Ù¡:</b> Ø§Ø·Ø¨Ø¹ Ø£ÙˆÙ„ Ø®Ù…Ø³Ø© Ø¹Ø´Ø± ØµÙ Ù…Ù† Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø¨Ø¹Ø¯ ØªØ±Ù…ÙŠØ²Ù‡Ø§ ğŸ“</h3>

In [ ]:
### Your code goes here

To be prepared for any model in the modelling phase, we also make a scaled dataset.    
The code below makes a new dataframe called `df_ohe_scaled`

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
columns_to_scale = ['Year', 'Mileage']
df_ohe_scaled = df_ohe.dropna().copy()
df_ohe_scaled[columns_to_scale] = scaler.fit_transform(df_ohe.dropna()[columns_to_scale])

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¢Ù¢:</b> Ø§Ø·Ø¨Ø¹ Ø£ÙˆÙ„ Ø®Ù…Ø³Ø© Ø¹Ø´Ø± ØµÙ Ù…Ù† Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª Ø¨Ø¹Ø¯ ØªØ³ÙˆÙŠØªÙ‡Ø§ ğŸ“</h3>

In [ ]:
### Your code goes here

### Classification

<h3 style="text-align: left;"><b>ØªÙ…Ø±ÙŠÙ† Ù¡Ù©:</b> Ø·ÙˆØ± Ù†Ù…ÙˆØ°Ø¬ Ø§Ù†Ø­Ø¯Ø§Ø± Ø®Ø·ÙŠ Ø¨Ù…ØªØºÙŠØ± ÙˆØ§Ø­Ø¯ ğŸ“</h3>

Please fill any `None` in the cell below

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, classification_report

# Based on the scatter plots it seems like Age is the single most important feature
# TODO: Make of the features you want to use in the model
features = None

# Create train and test data
# TODO: Specify your input variables (X) and your target variable (y)
X = None
y = None

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

# Initialize linear regressor model
# 'Train' the model
# Predict price based on data in test - set
# Initialize a Random Forest Classifier
rf = None
rf.fit(X_train, y_train)
y_pred = None


cm = confusion_matrix(y_test, y_pred, labels=rf.classes_)
disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=rf.classes_)
disp.plot()
plt.show()
print(classification_report(y_test, y_pred, target_names=['>=70k', '<70k']))

<br>
<br>
<br>
<br>
<div style="text-align: center; font-family: Arial; font-size: 2em;">ÙƒØ¯Ù‡ Ù†ÙƒÙˆÙ† ÙˆØµÙ„Ù†Ø§ Ù„Ù†Ù‡Ø§ÙŠØ© Ø±Ø­Ù„Ø© Ø§ÙƒØªØ´Ø§Ù Ø§Ù„Ø¨ÙŠØ§Ù†Ø§Øª ÙˆØªØ·ÙˆÙŠØ± Ù†Ù…Ø§Ø°Ø¬ ØªØ¹Ù„Ù… Ø§Ù„Ø¢Ù„Ø©ØŒ Ø¥Ù† Ø´Ø§Ø¡ Ø§Ù„Ù„Ù‡ ÙƒØ§Ù†Øª Ù…Ù…ØªØ¹Ø© ÙˆØ§Ø³ØªÙØ¯ÙˆØ§ Ù…Ù†Ù‡Ø§ Ø§Ù„Ø´ÙŠ Ø§Ù„ÙƒØ«ÙŠØ± ğŸ‰ğŸ‰ğŸ‰ğŸ‰</div>